# Created by .ignore support plugin (hsz.mobi)
*.class
*.log

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.idea

# metals
.bsp
.bloop
.metals
metals.sbt
