# Created by .ignore support plugin (hsz.mobi)
*.class
*.log

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.idea

src/main/scala/com/nulabinc/backlog4s/Key.scala
