# Created by .ignore support plugin (hsz.mobi)
*.class
*.log

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.idea

backlog4s-test/src/main/scala/ApiKey.scala
backlog4s-graphql/src/main/scala/backlog4s/graphql/ApiKey.scala
